{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center p-24 gap-10 bg-[#1A6E6A] w-100[vh] h-100[vh]   object-contain">
        <h1 class="font-bold font-sans text-[64px] text-[#FFFAE8]">Que recherchez-vous ?</h1>
        <p class="text-xl text-white font-txt">Cela nous aidera à faire un premier filtre pour vous aider</p>
        <div class="flex flex-row justify-center mt-10">
            {% for type in types|slice(0,5) %}
                <div class="flex flex-col mx-10 px-5">
                    <img src="{{ asset('images/querecherchezvous/servicemunicipaux.png') }}" alt="Services Municipaux" class="w-80 h-80 object-contain opacity-50 hover:opacity-100 cursor-pointer">
                    <p class="font-txt text-center text-[32px] text-white">{{ type }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="flex flex-row items-center justify-center m-5">
            <div class="items-center justify-center">
                <p class="font-txt text-center text-white">Etape</p>
                <div class="pt-2"></div>
                <div class="flex items-center justify-center w-20 h-20 bg-[#FC6B3B] rounded-full text-white text-5xl font-bold">1</div>
                <div class="pb-7"></div>
            </div>
            <div class="flex items-center justify-center text-white text-xl">------</div>
            <div class="flex items-center justify-center w-14 h-14 bg-[#19647E] rounded-full border-4 border-[#8A675C]"></div>
            <div class="flex items-center justify-center text-white text-xl">------</div>
            <div class="flex items-center justify-center w-14 h-14 bg-[#19647E] rounded-full border-4 border-[#8A675C]"></div>
        </div>
    </div>

    <div id="map" style="height: 400px; width: 100%"></div>
    <label for="type">Type de lieu</label>
    <select name="type" id="type">
        <option value="all">Tous</option>
    </select>
    <div id="test"></div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

{% endblock %}
